<div class="col-md-6">
    <div class="portlet light bordered" id="blockui_sample_1_portlet_body">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp sbold">Cheats</span>
            </div>
        </div>
        <div class="portlet-body">
            <span *ngIf="cheaterNames.length === 0">
                No Cheats Available
                <a class="btn btn-outline sbold green-haze" routerLink="/addNewCheat"><i class="fa fa-plus"></i>Add</a>
            </span>
            <p *ngFor="let cheater of cheaterNames">
                <a [routerLink]="['/cheats', cheater]" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4">{{cheater}}</a>
            </p>
        </div>
    </div>
</div>
