<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="note note-info">
	<p>
		Current cheats ({{cheats.length}})
	</p>
</div>
<div *ngIf="isEditing" class="col-md-6" id="fuck">
	<form role="form" #form="ngForm" (ngSubmit)="editCheat(cheat)">
		<div class="form-body">
			<div class="form-group form-md-line-input">
				<input type="text" name="title" [(ngModel)]="cheat.title" class="form-control" id="form_control_1" placeholder="Enter Title">
				<label for="form_control_1">Title</label>
				<span class="help-block">Title.</span>
			</div>
			<div class="form-group form-md-line-input">
				<textarea [(ngModel)]="cheat.code" name="code" class="form-control" rows="3" placeholder="Enter Code"></textarea>
				<label for="form_control_1">Code</label>
			</div>
			<div class="form-group form-md-line-input">
				<textarea [(ngModel)]="cheat.description" name="description" class="form-control" rows="3" placeholder="Enter Description"></textarea>
				<label for="form_control_1">Description</label>
			</div>
			<div class="form-group form-md-line-input">
				<input type="text" name="name" readonly [(ngModel)]="cheat.name" class="form-control" id="form_control_1">
				<label for="form_control_1">Name</label>
				<span class="help-block">Name</span>
			</div>
		</div>
		<div class="form-actions noborder">
			<button type="submit" [disabled]="!form.form.valid" data-dismiss="modal" class="btn blue">Submit</button>
			<button type="button" (click)="cancelEditing()" data-dismiss="modal" class="btn default">Cancel</button>
		</div>
	</form>
</div>
<div class="row" *ngIf="!isLoading">
	<div class="col-md-6" *ngFor="let cheat of cheats">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-code"></i>
					<span class="caption-subject bold font-grey-gallery uppercase"> {{cheat.title}} </span>
				</div>
				<div class="tools">
					<a href="" class="collapse"> </a>
					<a (click)="enableEditing(cheat)" data-toggle="modal" href="#basic" class="config"></a>
					<a href="" class="reload"> </a>
					<a href="" class="fullscreen"> </a>
					<a class="remove" (click)="deleteCheat(cheat)"></a>
				</div>
			</div>
			<div class="portlet-body">
				<h5>{{ cheat.description }}...</h5>
					<pre>{{ cheat.code }}</pre>
			</div>
		</div>
	</div>
</div>
