<div class="row">
	<div class="col-md-6">
		<div class="portlet light bordered" id="blockui_sample_1_portlet_body">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject font-green-sharp sbold">About This Project</span>
				</div>
			</div>
			<div class="portlet-body">
				<p>
					<b>Author:</b> <a href="https://github.com/ianrussel" target="_blank"class="btn btn-outline sbold blue-madison tooltips" data-original-title="Gwapo" id="blockui_sample_1_1"> Ian Russel Adem </a>
				</p>
				<p class="socicons">
					Fork Me On  <a href="https://github.com/ianrussel/angular-express" target="_blank" class="socicon-btn socicon-btn-circle socicon-lg socicon-solid bg-red bg-hover-grey-salsa font-white bg-hover-white socicon-github tooltips" data-original-title="https://github.com/ianrussel/angular-express"></a>
				</p>
				<b>This project uses the MEAN stack:</b>
				<p>
					<a href="http://www.mongoosejs.com" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_3"> <b>M</b>ongoose.js</a>
					<a href="http://www.nodejs.org" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_3"> <b>N</b>ode.js</a>
				</p>
				<p>
					<a href="http://www.expressjs.com" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> <b>E</b>xpress.js</a>
					<a href="http://www.angular.io" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> <b>A</b>nguar 2+</a>
				</p>
				<b>Other tools and technologies used:</b>
				<p>
					<a href="https://cli.angular.io" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> Angular CLI</a>
					<a href="http://www.getbootstrap.com" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> Bootstrap</a>
					<a href="https://auth0.com" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> Auth0</a>
				</p>
				<p>
					<a href="http://www.fontawesome.io" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> Font Awesome</a>
					<a href="https://jwt.io" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4"> Angular 2 JWT</a>
					<a href="https://github.com/dcodeIO/bcrypt.js" target="_blank" class="btn btn-outline sbold green-haze" id="blockui_sample_1_4">Bcrypt.js</a>
				</p>
			</div>
		</div>
	</div>
	<app-all-cheats></app-all-cheats>
</div>
